#dragAndDrop {
    background-color: #ffffff;
    position: relative;
    overflow: hidden;
    font-size: 20px;

    width: 100%;
    height: 25em;
}

#dragAndDrop div:hover {
    filter: drop-shadow(2px 5px 3px rgba(0,0,0,0.5));
}

#dragAndDrop.gradient {
    background: linear-gradient(225deg, #114b5f, #88d498, #f3e9d2);
    background: -webkit-linear-gradient(225deg, #114b5f, #88d498, #f3e9d2);
    background-size: 300% 300%;
    animation: GradientAnimation 20s ease infinite;
    -webkit-animation: GradientAnimation 20s ease infinite;
}

#dragAndDrop .congratsText {
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
    font-size: 32px;
    text-shadow: 2px 3px 4px #000000;
}

@keyframes GradientAnimation {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}

@-webkit-keyframes GradientAnimation {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}
