.flexbox {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 13.75em;
    width: 100%;
    background-color: #ffffff;
    font-size: 20px;
}

.boy,
.petard {
    background-repeat: no-repeat;
    background-size: contain;
}

.comment {
    align-self: flex-start;
    margin-top: 2em;
    width: 0.05em;
    z-index: 1;
    white-space: nowrap;
    color: #312c2e;
    font-family: 'Comic Sans MS', sans-serif;
    font-weight: bolder;
}

.boy {
    transition: all 0.2s ease-out;
    background-image: url(./../img/flexbox/elka.jpg);
    background-position: bottom center;
    width: 15em;
    height: 13em;
}

.petard {
    background-image: url(./../img/flexbox/pet.jpg);
    width: 1.55em;
    height: 3.7em;
    opacity: 0;
}

.flexbox:hover .boy {
    animation-duration: 0.5s;
    animation-name: changePicture;
    background-image: url(./../img/flexbox/boy.jpg);
}

.flexbox:hover .petard {
    transition: all 0.5s ease-out;
    opacity: 1;
}

.flexbox:hover .comment:after {
    content: "Нажми !!!";
    text-shadow: 0.05em 0.15em 0.15em #6e7278;
}

.flexbox:active .boy {
    background-image: url(./../img/flexbox/boy2.jpg);
    animation-duration: 0.2s;
    animation-name: shaking;
    animation-iteration-count: infinite;
}

.flexbox:active .petard {
    transform: translate(0, -101vh);
}

.flexbox:active .comment {
    margin-top: 7em;
}

.flexbox:active .comment:after {
    content: "Ужас !!!";
    text-shadow: none;
}

@keyframes changePicture {
    from {
        background-size: 0 0;
    }

    to {
        background-size: 13em 12.75em;
    }
}

@keyframes shaking {
    from {
        background-position-x: -1em;
    }

    50% {
        background-position-x: 1em;
    }

    to {
        background-position-x: -1em;
    }
}

@media (max-width: 767px) {
    .flexbox {
        max-width: 15em;
    }
}