* {
  margin: 0;
  padding: 0;
  outline: none;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

a,
p,
h1,
h2,
h3,
span {
  font-family: "Rubik", sans_serif;
  color: #ffffff;
}

.primary-btn {
  background-color: #00a695;
  padding: 18px;
  width: 200px;
  border-radius: 30px;
  border-color: rgba(0, 0, 0, 0);
  cursor: pointer;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
}
.primary-btn:hover {
  background-color: #007566;
  transition: all 0.1s ease-out;
}

.b-main-container {
  display: grid;
  grid-template-columns: 240px 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "nav scroll";
  overflow: hidden;
  height: 100vh;
}
.b-main-container__nav-wrapper {
  grid-area: nav;
  background: #1b1b1b;
  border-right: solid 3px #ffffff;
}
.b-main-container__scroll-wrapper {
  background: #1b1b1b;
  grid-area: scroll;
  overflow: auto;
  height: auto;
  scroll-behavior: smooth;
}
.b-main-container__up-btn {
  position: fixed;
  bottom: 20px;
  right: 40px;
  font-size: 32px;
  background-color: #00a695;
  border-radius: 50%;
  padding: 5px;
}
.b-main-container__up-btn:hover {
  transition: all 0.1s ease-out;
  background-color: #007566;
}

.b-nav-wrapper__logo-container {
  border-bottom: solid 3px #ffffff;
  padding: 40px 30px;
}
.b-nav-wrapper__nav-menu-container {
  padding: 40px 0;
}

.b-logo-container__logo {
  width: 120px;
  height: 120px;
}

.b-nav-menu-container__link-wrapper {
  cursor: pointer;
}

.b-link-wrapper__nav-menu-item {
  padding-left: 30px;
  padding-bottom: 18px;
}
.b-link-wrapper__nav-menu-item:hover span {
  color: #00a695;
  transition: all 0.1s ease-out;
}

.b-nav-menu-item__icon {
  font-size: 24px;
}
.b-nav-menu-item__text {
  font-size: 18px;
  font-weight: 700;
  padding-left: 12px;
  vertical-align: super;
}

.b-scroll-wrapper__header-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 30px;
  height: 60px;
  background-color: #1b1b1b;
  z-index: 2;
}
.b-scroll-wrapper__footer-wrapper {
  padding: 30px;
}

.b-header-wrapper__title {
  padding-right: 18px;
  border-right: solid 3px #ffffff;
  flex-grow: 1;
  text-align: end;
}
.b-header-wrapper__icon {
  font-size: 24px;
  color: #ffffff;
  padding-left: 18px;
  cursor: pointer;
}
.b-header-wrapper__icon:hover {
  transition: all 0.1s ease-out;
  color: #00a695;
}
.b-header-wrapper__icon_mobile-menu {
  font-size: 32px;
  cursor: pointer;
  display: none;
}

.b-content-wrapper__article-wrapper {
  display: flex;
  padding: 60px;
}
.b-content-wrapper__article-wrapper_light {
  background-color: #424242;
}
.b-content-wrapper__article-wrapper_home {
  width: 100%;
  min-height: calc(100vh - 60px);
  position: relative;
  justify-content: center;
  align-items: center;
  padding: 0;
}
.b-content-wrapper__article-wrapper_home:after {
  content: "";
  background-image: url(./../img/bg.jpg);
  background-size: cover;
  opacity: 0.1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
}

.b-article-wrapper__info-container {
  width: 100%;
}
.b-article-wrapper__info-container_home {
  z-index: 1;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  width: 380px;
}
.b-article-wrapper__info-container_about {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.b-info-container__title-container {
  padding-bottom: 5px;
  text-align: center;
  flex-basis: 100%;
  margin-bottom: 60px;
}
.b-info-container__title-container :after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 120px;
  border-bottom: 3px solid #00a695;
}
.b-info-container_home__photo {
  background-image: url("./../img/home-photo.png");
  background-size: cover;
  background-position-y: -30px;
  width: 200px;
  height: 200px;
  border-radius: 100%;
  margin: 0 auto 30px auto;
}
.b-info-container_home__name {
  text-align: center;
  font-size: 48px;
  margin: 0 auto 30px auto;
}
.b-info-container_about__photo {
  background-image: url("./../img/about-photo.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  width: 730px;
  height: 360px;
  flex-basis: calc(50% - 20px);
}
.b-info-container_about__text-container {
  flex-basis: calc(50% - 20px);
}
.b-info-container_portfolio__categories-container {
  flex-basis: 100%;
  display: flex;
  justify-content: space-evenly;
}
.b-info-container_tasks__tasks-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.b-title-container__title {
  display: inline;
  font-size: 36px;
}

.b-text-container__paragraph {
  color: #e0e0e0;
}

.b-categories-container {
  padding-bottom: 30px;
}
.b-categories-container__item {
  font-size: 24px;
  font-weight: 700;
  cursor: pointer;
}
.b-categories-container__item.active {
  color: #00a695;
  border-bottom: solid 3px #00a695;
}

.b-projects-wrapper__projects-container {
  display: none;
  align-items: center;
  justify-content: space-between;
}
.b-projects-wrapper__projects-container.active {
  display: flex;
}

.b-projects-container__item {
  width: 23%;
}
.b-projects-container__item img {
  width: 100%;
}

.b-tasks-container__task-item {
  background-color: #1b1b1b;
  flex-basis: calc(50% - 100px);
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
}
.b-tasks-container__task-item:last-of-type {
  margin-bottom: 0;
}

.b-task-item__icon {
  width: 18px;
  height: 18px;
  background: #00a695;
  border: solid 3px #ffffff;
  border-radius: 50%;
  margin-right: 12px;
  margin-bottom: 12px;
}
.b-task-item__title {
  display: inline;
  color: #ffffff;
}
.b-task-item__description {
  flex-basis: 100%;
  color: #6d6d6d;
  margin-bottom: 12px;
}
.b-task-item__btn {
  padding: 6px;
  width: 150px;
  font-size: 18px;
  margin-right: 15px;
  max-height: 40px;
}
.b-task-item__btn:last-of-type {
  margin-right: 0;
}

.b-footer-wrapper__contacts-container {
  margin-bottom: 30px;
}
.b-footer-wrapper__date {
  color: #6d6d6d;
  font-size: 12px;
}

@media (max-width: 1023px) {
  .b-info-container__title-container {
    margin-bottom: 30px;
  }
  .b-info-container_about__photo {
    flex-basis: 100%;
    margin-bottom: 30px;
  }
  .b-info-container_about__text-container {
    flex-basis: 100%;
  }
  .b-info-container_tasks__tasks-container {
    flex-wrap: wrap;
  }

  .b-projects-wrapper__projects-container {
    flex-wrap: wrap;
  }

  .b-projects-container__item {
    width: 48%;
  }

  .b-tasks-container__task-item {
    flex-basis: 100%;
    margin-bottom: 30px;
  }
}
@media (max-width: 767px) {
  .b-main-container {
    grid-template-columns: 1fr;
    grid-template-areas: "scroll";
  }
  .b-main-container__nav-wrapper {
    display: none;
  }
  .b-main-container__nav-wrapper.active {
    display: block;
    position: fixed;
    z-index: 2;
    width: 100%;
    height: 100%;
    padding-top: 20px;
  }

  .b-scroll-wrapper__header-wrapper {
    position: sticky;
    top: 0;
  }

  .b-header-wrapper__icon_mobile-menu {
    display: inline;
  }

  .b-info-container_portfolio__categories-container {
    flex-wrap: wrap;
  }
}