//отступы: 24, 48, 64

$dark_bg: #1b1b1b;
$medium_bg: #424242;
$light_bg: #6d6d6d;

$dark_text: #6d6d6d;
$medium_text: #e0e0e0;
$light_text: #ffffff;

$details_color:#00a695;
$btn_hover_color:#007566;

$border: solid 3px #ffffff;

$rubik: "Rubik",
sans_serif;

* {
    margin: 0;
    padding: 0;
    outline: none;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

a,
p,
h1,
h2,
h3,
span {
    font-family: $rubik;
    color: $light_text;
}

.primary-btn {
    background-color: $details_color;
    padding: 18px;
    width: 200px;
    border-radius: 30px;
    border-color: rgba($color: #000000, $alpha: 0);
    cursor: pointer;
    font-size: 20px;
    font-weight: 700;
    text-align: center;

    &:hover {
        background-color: $btn_hover_color;
        transition: all 0.1s ease-out;
    }
}

.secondary-btn {
    padding: 12px;
    width: 120px;
    border: solid 3px $details_color;
    cursor: pointer;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    background-color: rgba($color: #000000, $alpha: 0);

    &:hover {
        background-color: $details_color;
        transition: all 0.2s ease-out;
    }
}

.b-main-container {
    display: grid;
    grid-template-columns: 240px 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
        "nav scroll";
    overflow: hidden;
    height: 100vh;

    &__nav-wrapper {
        grid-area: nav;
        background: $dark_bg;
        border-right: $border;
    }

    &__scroll-wrapper {
        background: $dark_bg;
        grid-area: scroll;
        overflow: auto;
        height: auto;
        scroll-behavior: smooth;
    }

    &__up-btn {
        position: fixed;
        bottom: 20px;
        right: 40px;
        font-size: 32px;
        background-color: $details_color;
        border-radius: 50%;
        padding: 5px;

        &:hover {
            transition: all 0.1s ease-out;
            background-color: $btn_hover_color;
        }
    }
}

.b-nav-wrapper {
    &__logo-container {
        border-bottom: $border;
        padding: 40px 30px;
    }

    &__nav-menu-container {
        padding: 40px 0;
    }
}

.b-logo-container {
    &__logo {
        width: 120px;
        height: 120px;
    }
}

.b-nav-menu-container {
    &__link-wrapper {
        cursor: pointer;
    }

}

.b-link-wrapper {
    &__nav-menu-item {
        padding-left: 30px;
        padding-bottom: 18px;

        &:hover span {
            color: $details_color;
            transition: all 0.1s ease-out;
        }
    }
}

.b-nav-menu-item {
    &__icon {
        font-size: 24px;
    }

    &__text {
        font-size: 18px;
        font-weight: 700;
        padding-left: 12px;
        vertical-align: super;
    }
}

.b-scroll-wrapper {
    &__header-wrapper {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 0 30px;
        height: 60px;
        background-color: $dark_bg;
        z-index: 2;
    }

    &__footer-wrapper {
        padding: 30px;
    }
}

.b-header-wrapper {
    &__title {
        padding-right: 18px;
        border-right: $border;
        flex-grow: 1;
        text-align: end;
    }

    &__icon {
        font-size: 24px;
        color: $light_text;
        padding-left: 18px;
        cursor: pointer;

        &:hover {
            transition: all 0.1s ease-out;
            color: $details_color;
        }

        &_mobile-menu {
            font-size: 32px;
            cursor: pointer;
            display: none;
        }
    }
}

.b-content-wrapper {
    &__article-wrapper {
        display: flex;
        padding: 60px;

        &_light {
            background-color: $medium_bg;
        }

        &_home {
            width: 100%;
            min-height: calc(100vh - 60px);
            position: relative;
            justify-content: center;
            align-items: center;
            padding: 0;

            &:after {
                content: "";
                background-image: url(./../img/bg.jpg);
                background-size: cover;
                opacity: 0.1;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                position: absolute;
            }
        }
    }
}

.b-article-wrapper {
    &__info-container {
        width: 100%;

        &_home {
            z-index: 1;
            display: flex;
            justify-content: center;
            align-content: center;
            flex-wrap: wrap;
            width: 380px;
        }

        &_about {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
    }
}

.b-info-container {
    &__title-container {
        padding-bottom: 5px;
        text-align: center;
        flex-basis: 100%;
        margin-bottom: 60px;

        :after {
            content: "";
            display: block;
            margin: 0 auto;
            width: 120px;
            border-bottom: 3px solid $details_color;
        }
    }

    &_home {
        &__photo {
            background-image: url('./../img/home-photo.png');
            background-size: cover;
            background-position-y: -30px;
            width: 200px;
            height: 200px;
            border-radius: 100%;
            margin: 0 auto 30px auto;
        }

        &__name {
            text-align: center;
            font-size: 48px;
            margin: 0 auto 30px auto;
        }
    }

    &_about {
        &__photo {
            background-image: url('./../img/about-photo.jpg');
            background-position: top center;
            background-repeat: no-repeat;
            width: 730px;
            height: 360px;
            flex-basis: calc(50% - 20px);
        }

        &__text-container {
            flex-basis: calc(50% - 20px);
            display: flex;
            flex-wrap: wrap;
        }
    }

    &_portfolio {
        &__categories-container {
            flex-basis: 100%;
            display: flex;
            justify-content: space-evenly;
            padding-bottom: 30px;
        }
    }

    &_tasks {
        &__tasks-container {
            display: flex;
            justify-content: space-evenly;
            flex-wrap: wrap;
        }
    }
}

.b-title-container {
    &__title {
        display: inline;
        font-size: 36px;
    }
}

.b-text-container {
    &__paragraph {
        color: $medium_text;
        margin-bottom: 12px;

        &:last-of-type {
            margin-bottom: 24px;
        }
    }

    &__btn {
        align-self: flex-end;
    }
}

.b-categories-container {
    &__item {
        font-size: 24px;
        font-weight: 700;
        cursor: pointer;

        &.active {
            color: $details_color;
            border-bottom: solid 3px $details_color;
        }
    }
}

.b-projects-wrapper {
    &__projects-container {
        display: none;
        align-items: center;
        justify-content: space-between;

        &.active {
            display: flex;
        }
    }
}

.b-projects-container {
    &__item {
        width: 23%;

        img {
            width: 100%;
        }
    }
}

.b-tasks-container {
    &__task-item {
        background-color: $dark_bg;
        flex-basis: calc(50% - 100px);
        padding: 20px;
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 30px;

        &:last-of-type {
            margin-bottom: 0;
        }
    }
}

.b-task-item {
    &__icon {
        width: 18px;
        height: 18px;
        background: $details_color;
        border: $border;
        border-radius: 50%;
        margin-right: 12px;
        margin-bottom: 12px;
    }

    &__title {
        display: inline;
        color: $light_text;
    }

    &__description {
        flex-basis: 100%;
        color: $dark_text;
        margin-bottom: 12px;
    }

    &__btn {
        padding: 6px;
        width: 150px;
        font-size: 18px;
        margin-right: 15px;
        max-height: 40px;

        &:last-of-type {
            margin-right: 0;
        }
    }
}

.b-footer-wrapper {
    &__contacts-container {
        margin-bottom: 30px;
    }

    &__date {
        color: $dark_text;
        font-size: 12px;
    }
}

.b-contact-item {
    &__text {
        vertical-align: super;
        padding-left: 12px;
    }
}

@media (max-width: 1023px) {
    .b-info-container {
        &__title-container {
            margin-bottom: 30px;
        }

        &_about {
            &__photo {
                flex-basis: 100%;
                margin-bottom: 30px;
            }

            &__text-container {
                flex-basis: 100%;
                justify-content: center;
            }
        }

        &_tasks {
            &__tasks-container {
                flex-wrap: wrap;
            }
        }
    }

    .b-projects-wrapper {

        &__projects-container {
            flex-wrap: wrap;
        }
    }

    .b-projects-container {
        &__item {
            width: 48%;
        }
    }

    .b-tasks-container {
        &__task-item {
            flex-basis: 100%;
            margin-bottom: 30px;
        }
    }
}

@media (max-width: 767px) {
    .b-main-container {
        grid-template-columns: 1fr;
        grid-template-areas: "scroll";

        &__nav-wrapper {
            display: none;

            &.active {
                display: block;
                position: fixed;
                z-index: 2;
                width: 100%;
                height: 100%;
                padding-top: 20px;
            }
        }
    }

    .b-scroll-wrapper {
        &__header-wrapper {
            position: sticky;
            top: 0;
        }
    }

    .b-header-wrapper {
        &__icon {
            &_mobile-menu {
                display: inline;
            }
        }
    }

    .b-info-container {
        &_portfolio {
            &__categories-container {
                flex-wrap: wrap;
            }
        }
    }
}

@media (max-width:767px) and (orientation: landscape) {
    .b-main-container {
        &__nav-wrapper {
            &.active {
                position: absolute;
                height: 100vh;
                overflow: auto;
            }
        }
    }

    .b-content-wrapper {
        &__article-wrapper_home {
            min-height: 600px;
        }
    }
}

@media (max-width: 480px) {
    .b-task-item {
        &__btn {
            &:not(:last-of-type) {
                margin-bottom: 12px;
            }
        }
    }
}

@media (max-width: 400px) {
    .b-main-container {
        &__up-btn {
            right: 20px;
        }
    }

    .b-scroll-wrapper
    {
        &__header-wrapper {
            padding: 0 10px;
        }
    }

    .b-header-wrapper {
        &__title {
            padding-right: 10px;
        }
    
        &__icon {
            padding-left: 10px;
        }
    }

    .b-content-wrapper {
        &__article-wrapper {
            padding: 60px 20px;
            
            &_home {
                padding: 0;
            }
        }
    }

    .b-info-container {
        &_home {
            &__name {
                font-size: 36px;
            }

            &__btn {
                width: 170px;
            }
        }
    }
    
    .b-categories-container {
        &__item:not(:last-of-type) {
            margin-bottom: 12px;
        }
    }

    .b-projects-container {
        &__item {
            width: 100%;
            &:not(:last-of-type) {
                margin-bottom: 24px;
            }
        }
    }

    .b-contact-item {
        &__icon {
            font-size: 19px;
        }
        &__text {
            font-size: 12px;
            padding-left: 0;
        }
    }
}

@media (max-height: 600px) {
    .b-content-wrapper {
        &__article-wrapper_home {
            min-height: 600px;
        }
    }
}